@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.AppName</h1>
    <p class="lead">@ViewBag.AppDescription</p>
    <p>@ViewBag.AppVersion</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            System Administration by Root Account Only
        </p>
        <p>
            @Html.ActionLink("Admin Panel", "index", "SystemAdmin", new { area = "Core" }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Profiles</h2>
        <p>Patient Profiles</p>
        <p>
            @Html.ActionLink("Profiles", "index", "HisProfiles", new { area = "HIS10" }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Laboratory</h2>
        <p>Laboratory Status</p>
        <p>
            @Html.ActionLink("Orders", "index", "HisOrders", new { area = "HIS10" }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>