@model IEnumerable<LIS.v10.Areas.HIS10.Models.HisInstrument>

@{
    ViewBag.Title = "Instruments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instruments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td style="width:10%;">
            <img src="~/Content/placeholder-image.jpg" height="100" />
        </td>
        <td>
            <span style="font: bold 14px calibre, verdana;">
                @item.Name
            </span>
            <span style="font-size:smaller">
                <br />@item.Description
                <br />Code: @item.InsCode
                <br />@item.Remarks
            </span>
        </td>
        <td>
            @Html.ActionLink("Details", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    <p>
        @Html.ActionLink("Back to Admin Panel", "index", "SystemAdmin", new { area = "Core" }, null)
    </p>
</div>

