@model IEnumerable<LIS.v10.Areas.HIS10.Controllers.HisOrdersController.cOrderList>

@{
    ViewBag.Title = "Laboratory";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<LIS.v10.Areas.HIS10.Controllers.HisOrdersController.cOrderList>
        oStatus = (List<LIS.v10.Areas.HIS10.Controllers.HisOrdersController.cOrderList>)ViewBag.orderList;

}

<h2>@ViewBag.PageLabel</h2>

<p>
    @Html.ActionLink("Create New Request", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Completed
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.HisProfile.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.SpecimenId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.dtRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.dtProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.dtReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.HisOrderType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.HisPhysician.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.HisInstrument.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Processed%
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.HisProfile.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.SpecimenId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.dtRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.dtProcessed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.dtReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.HisOrderType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.HisPhysician.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.HisInstrument.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order.Id }) |
            @Html.ActionLink("Test Data", "ResultList", new { id = item.Order.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order.Id })
        </td>
    </tr>
}

</table>
