@model IEnumerable<LIS.v10.Areas.HIS10.Models.HisOrder>

@{
    ViewBag.Title = "Laboratory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Laboratory</h2>

<p>
    @Html.ActionLink("Create New Request", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HisProfile.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecimenId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HisOrderType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HisPhysician.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HisInstrument.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HisProfile.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecimenId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtProcessed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HisOrderType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HisPhysician.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HisInstrument.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Result", "ResultList", new { orderId = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
